{{#each sections as |section|}}
<div class="section">
    {{#if section.title}}
    <div class="title">{{localize section.title}}</div>
    {{/if}}
    {{#each section.options as |option|}}
    <div class="option{{#if option.selected}} selected{{/if}}" data-value="{{option.value}}">
        {{{localize option.label}}}
    </div>
    {{/each}}
</div>
{{/each}}