<header>
    {{localize title}}
</header>
{{#each sections as |section|}}
{{#if section.header}}
<div class="title">{{section.header}}</div>
{{/if}}
<div class="options">
    {{#each section.options as |option|}}
    <div class="option{{#if option.selected}} selected{{/if}}" data-value="{{option.value}}">
        {{localize option.label}}
    </div>
    {{/each}}
</div>
{{/each}}