<header>
    <div class="name">
        {{localize title}}
    </div>
</header>
<ul class="options">
    {{#each options as |option|}}
    <li class="radial-option{{#if option.selected}} selected{{/if}}" data-value="{{option.value}}">
        <span>{{localize option.label}}</span>
    </li>
    {{/each}}
</ul>