#pf2e-hud-sidebar {
    --outer-padding: 2.2vh;
    --max-column-width: 17em;
    --image-border-color: rgb(118 118 118);
    --inner-padding: 0.3em;
    --header-border: 1px solid #ffffff1f;
    --header-background: rgba(0, 0, 0, 0.239);
    --name-background: rgba(255, 255, 255, 0.09);
    --temporary-color: 255, 143, 0;
    --item-gap: 0.2em;
    --item-spacing: 0.3em;
    --color-rarity-uncommon: #cb8470;
    --color-rarity-rare: #5996f7;
    --color-rarity-unique: #d05fff;
    --color-active: #616bed;
    --variant-background: #ffffff09;
    --variant-background-reversed: #ffffffad;
    --variant-border: 1px solid #ffffff24;
    --variant-color: #e3e3e3;
    --variant-gap: 0.1em;
    --toggle-margin-left: 0.5em;
    --chat-icon-size: 1.6em;
    --action-img-background: #ffffff7a;
    --action-highlight: rgb(255 255 255 / 7%);
    --arrow-color: rgb(47 47 47);

    position: absolute;
    padding: var(--outer-padding);
    max-height: 100vh;
    max-width: 100vw;
    z-index: calc(var(--z-index-app) + 30);
    color: var(--color);
    font-size: var(--font-size);
    pointer-events: none;

    a.disabled {
        color: var(--color-disabled);
    }

    .inner,
    .sidebars {
        pointer-events: all;
        background: var(--outer-background);
        box-shadow: var(--outer-box-shadow);
        border-radius: var(--outer-border-radius);
    }

    .inner {
        min-width: 12em;
        min-height: 4em;
        max-width: calc(100vw - var(--outer-padding) * 2);
        max-height: calc(min(100vh, var(--max-height)) - var(--outer-padding) * 2);

        display: flex;
        flex-direction: column;
        position: relative;

        border: var(--outer-border);

        &.persistent {
            --arrow-width: calc(var(--outer-padding) * 0.9);

            &.actions {
                --icon-offset: -2;
            }

            &.items {
                --icon-offset: -1;
            }

            &.spells {
                --icon-offset: 0;
            }

            &.skills {
                --icon-offset: 1;
            }

            &.extras {
                --icon-offset: 2;
            }

            &::before {
                content: "";
                z-index: -1;
                position: absolute;
                top: 100%;
                left: 50%;
                transform: translateX(calc(-50% + var(--icon-offset) * 1.8em));

                border-left: var(--arrow-width) solid transparent;
                border-right: var(--arrow-width) solid transparent;
                border-top: var(--arrow-width) solid var(--arrow-color);
            }
        }
    }

    .sidebars {
        z-index: -1;
        position: absolute;

        display: grid;
        justify-items: center;
        gap: 0.6em 0.4em;

        border-top-right-radius: 0;

        &.bottom {
            left: 50%;
            top: 100%;
            transform: translateX(-50%);

            grid-auto-flow: column;
            height: calc(var(--outer-padding) + 0.1vh);
            padding-inline: 0.4em;

            border-top-left-radius: 0;
        }

        &:not(.bottom) {
            right: 100%;
            top: 50%;
            transform: translateY(-50%);

            width: calc(var(--outer-padding) + 0.1vh);
            padding-block: 0.5em;

            border-bottom-right-radius: 0;
        }
    }

    .item-list {
        white-space: nowrap;
        column-gap: 0.5em;
        columns: var(--nb-columns);
        overflow: auto;
        padding: 4px var(--inner-padding);

        > * {
            break-inside: avoid;
        }
    }

    .option-toggle {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 0.3em;

        label {
            display: flex;
            align-items: center;
            gap: 0.3em;

            input[type="checkbox"] {
                height: 1.1em;
                margin: 0;
                padding: 0;
            }

            .name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;

                &.unchecked-disabled {
                    color: var(--color-disabled);
                }
            }
        }

        select {
            margin-left: var(--toggle-margin-left);
            max-width: calc(100% - var(--toggle-margin-left));
            height: 1.4em;
        }
    }

    header {
        position: relative;
        background: var(--header-background);
        border: var(--header-border);
        border-left: 0;
        border-right: 0;
        padding-block: 0.2em;

        .name {
            text-align: center;
        }

        .controls {
            position: absolute;
            inset: 0 0.2em 0 auto;
            display: flex;
            align-items: center;
            gap: 0.3em;
        }

        &:not(:first-of-type) {
            margin-top: 0.6em;
        }
    }

    .drag-img {
        display: none;
    }

    .item {
        display: flex;
        max-width: var(--max-column-width);
        margin-top: var(--item-spacing);

        &:has(.image) {
            height: 2.5em;
            gap: var(--item-gap);
        }

        &.action,
        &.option-toggle {
            --name-background: transparent;
        }

        &.action {
            --image-border-color: transparent;
            --chat-icon-size: 1em;

            height: 1.5em;
            align-items: center;

            .image {
                img {
                    background: var(--action-img-background);
                }
            }

            .name {
                flex: 1;
            }

            .controls {
                display: flex;
                align-items: center;
                gap: 0.2em;
            }

            &:hover {
                background: var(--action-highlight);
            }
        }

        .image {
            position: relative;
            height: 100%;
            aspect-ratio: 1 / 1;
            border: 1px solid var(--image-border-color);
            border-radius: 4px;
            cursor: pointer;

            img {
                height: 100%;
                aspect-ratio: 1/1;
                border-radius: 4px;
                border: none;
            }

            i {
                position: absolute;

                &.chat {
                    font-size: var(--chat-icon-size);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    inset: 0;
                    width: unset;
                }

                &.temporary {
                    bottom: 0.1em;
                    right: -0.1em;
                    color: rgb(var(--temporary-color));
                    text-shadow: 0.05em 0 black, 0 0.05em black, -0.05em 0 black, 0 -0.05em black,
                        -0.05em -0.05em black, -0.05em 0.05em black, 0.05em -0.05em black,
                        0.05em 0.05em black;
                }
            }

            &:not(:hover) {
                i.chat {
                    display: none;
                }
            }

            &:hover {
                img,
                i.temporary {
                    opacity: 0;
                }
            }
        }

        .details {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .extras {
                display: flex;
                justify-content: space-between;
                gap: 1em;
                color: var(--color-text-light-4);
                font-size: 0.9em;
            }
        }

        .name {
            background-color: var(--name-background);
            padding-inline: 0.2em;

            [data-action="item-description"] {
                &.rarity-uncommon {
                    color: var(--color-rarity-uncommon);
                }

                &.rarity-rare {
                    color: var(--color-rarity-rare);
                }

                &.rarity-unique {
                    color: var(--color-rarity-unique);
                }
            }
        }

        .variants {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: var(--variant-gap);
            font-size: 0.78em;
            color: var(--variant-color);

            .variant {
                height: calc(var(--font-size) * 1.2);
                border-radius: 2px;
                border: var(--variant-border);
                background: var(--variant-background);
                padding-inline: 0.1em;
                text-transform: uppercase;
                display: flex;
                align-items: center;
                gap: 0.2em;

                &:not(:empty) {
                    margin-top: var(--item-gap);
                }

                &[data-action] {
                    cursor: pointer;

                    &:hover {
                        color: var(--color-highlight);
                    }
                }

                &[data-disabled] {
                    pointer-events: none;
                    cursor: default;
                    color: var(--color-disabled);
                    filter: grayscale(1);
                }
            }
        }
    }

    *:has(> .name) {
        overflow: hidden;

        .name {
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
