#pf2e-hud-sidebar .inner.extras {
    --hr-spacing: 0.5em 0;

    input {
        &[type="number"] {
            flex: 0 0 2em;
            text-align: center;
            padding: 0;
        }
    }

    .row {
        min-height: 1.8em;
        display: flex;
        align-items: center;

        &.dailies {
            > span {
                color: var(--color-disabled);
            }
        }
    }

    .initiative {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;
    }

    .no-macro {
        padding-block: 0.3em;
        text-align: center;
        color: var(--color-text-dark-4);
        border: 1px dashed var(--color-text-dark-6);
    }

    .item {
        .image {
            cursor: default;

            &:hover {
                img {
                    opacity: 1;
                }
            }
        }

        .details {
            .extras {
                justify-content: flex-end;
            }
        }
    }
}
