#pf2e-hud-sidebar-filter {
    position: absolute;
    z-index: 999999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--outer-background);
    box-shadow: var(--outer-box-shadow);
    border: var(--outer-border);
    border-radius: 4px;
    color: var(--color);
    padding: 0.5em;
    font-size: 1.6em;

    input {
        height: unset;
        margin-top: 0.1em;

        &:focus {
            box-shadow: none;
        }
    }
}
