#pf2e-hud-sidebar .inner.skills {
    --max-column-width: 15em;

    .variants {
        max-width: var(--max-column-width);
    }

    header,
    .lore {
        display: flex;
        align-items: center;
        padding-inline: 0.2em;
        justify-content: space-between;

        a span {
            color: var(--color-accent);
            margin-right: 0.1em;
            display: inline-block;
        }

        .rank {
            font-size: 0.9em;
        }
    }

    .lore {
        .name {
            background: none;
        }
    }
}

.application.dialog .pf2e-hud-skills {
    input[type="number"] {
        flex: 0 0 2em;
        text-align: center;
        padding: 0;
    }
}
