#pf2e-hud-persistent {
    --panel-background: url("../../../ui/denim075.png") repeat;
    --panel-gap: 3px;

    --column-1fr: 3.8em;
    --column-2fr: calc(var(--column-1fr) * 2);
    --columns-icon: 2.2em;

    --row-1fr: 2.05em;
    --row-2fr: calc(var(--row-1fr) * 2);
    --row-3fr: calc(var(--row-1fr) * 3);

    --flash-color: 255, 255, 0;
    --flash-inset-blur: 30px;
    --flash-inset-color: rgba(var(--flash-color), 0.55);
    --flash-outset-blur: 20px;
    --flash-outset-color: rgb(var(--flash-color));

    --sidebar-arrow-color: #2c2c2c;

    align-self: start;
    display: grid;
    gap: var(--panel-gap);
    scale: revert;
    width: min-content;

    grid-template-columns:
        [full-start menu-start] var(--columns-icon)
        [menu-end portrait-start] 11em
        [portrait-end info-start] var(--columns-icon)
        [info-end statistics-start] var(--column-2fr)
        [statistics-end resources-start] var(--column-1fr)
        [resources-end sidebars-start] 9em
        [sidebars-end stretch-start] auto
        [stretch-end full-end];
    grid-template-rows:
        [effects-start] auto
        [effects-end top-start] var(--row-1fr)
        [top-end middle-start] var(--row-3fr)
        [middle-end bottom-start] var(--row-2fr)
        [bottom-end];

    [data-panel],
    [data-panel="menu"] .group {
        padding: var(--panel-gap);
        background: var(--panel-background);
        border: var(--outer-border);
        border-radius: var(--outer-border-radius);
        pointer-events: all;
    }

    [data-panel="menu"] {
        grid-column: menu;
        grid-row: top / bottom;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: none;
        border: none;
        padding: 0;

        .group {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 6px;

            &.single {
                padding-block: calc(var(--panel-gap) + 1px);
            }
        }

        &:has(.group.bottom:only-child) {
            justify-content: flex-end;
        }
    }

    [data-panel="effects"] {
        grid-column: full;
        grid-row: effects;
    }

    [data-panel="name"] {
        grid-column: portrait;
        grid-row: top;
        align-self: start;
        border: none;
        padding-block: 2px;
        background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.1) 0%,
            rgba(0, 0, 0, 0.6) 20%,
            rgba(0, 0, 0, 0.8) 50%,
            rgba(0, 0, 0, 0.6) 80%,
            rgba(0, 0, 0, 0.1) 100%
        );
    }

    [data-panel="effects"] {
        grid-column: full;
        grid-row: effects;
    }

    [data-panel="stats"] {
        grid-column: portrait;
        grid-row: middle / bottom;
        align-self: end;
        border: none;
        background-color: #0000007d;
        display: none;
    }

    [data-panel="portrait"] {
        z-index: -1;
        position: relative;
        grid-column: portrait;
        grid-row: top / bottom;

        .avatar {
            position: absolute;
            inset: 0;
            background-position: center top;
            background-repeat: no-repeat;
            background-size: contain;
            overflow: hidden;

            &[data-action] {
                cursor: pointer;
                box-shadow: inset 0 0 8px 1px var(--outer-border-color);
            }

            img,
            video {
                position: absolute;

                &:not(.custom) {
                    object-fit: contain;
                    width: 100%;
                    height: 100%;
                }

                &.custom {
                    max-width: none;
                    max-height: none;
                }
            }
        }
    }

    [data-panel="info"] {
        grid-column: info;
        grid-row: top / middle;
        grid-template-columns: auto;
        grid-template-rows: repeat(5, 1fr);
        justify-content: center;
    }

    [data-panel="npc-extras"],
    [data-panel="resources"] {
        grid-column: resources;
        grid-row: middle;
    }

    [data-panel="details"] {
        grid-column: statistics;
        grid-row: top;
        grid-template-columns: repeat(2, 1fr);
    }

    [data-panel="statistics"] {
        grid-column: statistics;
        grid-row: middle;
        grid-template-rows: 1fr 1fr 1fr;
        grid-auto-flow: column;
    }

    [data-panel="alliance"] {
        grid-column: resources;
        grid-row: top;
    }

    [data-panel="shortcuts"] {
        grid-column: sidebars / full;
        grid-row: middle;
    }

    [data-panel="sidebars"] {
        grid-column: sidebars;
        grid-row: top;
        grid-template-columns: repeat(5, 1fr);
        align-items: center;

        [data-sidebar].active {
            position: relative;

            &::before {
                --arrow-size: calc(var(--sidebar-external-padding) * 2);

                position: absolute;
                content: "";
                left: 50%;
                transform: translate(-50%);
                bottom: calc(100% + 1px);
                width: 0;
                height: 0;
                border-left: var(--arrow-size) solid transparent;
                border-right: var(--arrow-size) solid transparent;
                border-top: var(--arrow-size) solid var(--sidebar-arrow-color);
            }
        }
    }

    [data-panel="shortcuts-menu"] {
        grid-column: stretch;
        grid-row: top;
        grid-template-columns: 2.3fr 1fr 1fr;
        min-width: 7.154em;
        width: fit-content;
        align-items: center;
        position: relative;

        .tabs {
            display: flex;
            align-items: center;
            gap: 0.1em;
        }

        [data-panel="shortcut-bin"] {
            z-index: 999;
            position: absolute;
            width: 4em;
            height: 4em;
            align-items: center;
            justify-content: center;
            bottom: calc(var(--outer-border-width) * -1);
            left: calc(100% + var(--panel-gap));
            box-shadow: inset 0 0 8px black;

            i {
                width: unset;
                font-size: 2em;
                opacity: 0.5;
            }

            &:not(.visible) {
                display: none;
            }
        }
    }

    [data-panel="owned-actors"] {
        grid-column: portrait / full;
        grid-row: top / middle;
        background: none;
        border: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        pointer-events: none;
        gap: var(--panel-gap);

        .owned-actor {
            position: relative;
            background: var(--panel-background);
            border: var(--outer-border);
            border-radius: var(--outer-border-radius);
            display: flex;
            cursor: pointer;
            pointer-events: all;
            text-shadow: 0 0 3px black, 0 0 3px black, 0 0 2px black;

            > * {
                pointer-events: none;
            }

            img {
                pointer-events: all;
                object-fit: contain;
                aspect-ratio: 1 / 1;

                &.token {
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                }
            }

            .ac {
                position: absolute;
                top: -0.1em;
                left: -0.1em;
                display: grid;
                justify-items: center;
                align-items: center;

                i {
                    grid-column: 1;
                    grid-row: 1;
                    font-size: 1.4em;
                    width: auto;
                    color: #ffffff82;
                }

                .value {
                    grid-column: 1;
                    grid-row: 1;
                }
            }

            .heroPoints {
                position: absolute;
                top: 0;
                right: 0;
                display: flex;
                align-items: center;
                gap: 0.1em;
                justify-content: start;
                direction: rtl;
            }

            .statistics {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 100%;
                font-size: 0.9em;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: repeat(3, 1fr);
                grid-auto-flow: column;
                row-gap: 0.2em;
                padding-inline: 0.05em;

                .statistic {
                    display: flex;
                    align-items: center;
                    gap: 0.1em;

                    &:nth-child(n + 4) {
                        justify-content: start;
                        direction: rtl;
                    }
                }
            }

            .bars {
                position: absolute;
                align-self: end;
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .value {
                    z-index: 1;
                    display: flex;
                    align-items: center;
                }

                .fills {
                    position: absolute;
                    inset: 0;
                    display: flex;
                    flex-direction: column;

                    .fill {
                        height: 50%;
                        width: calc(var(--ratio) * 100%);

                        &.hp,
                        &.sp {
                            box-shadow: inset 0 0 3px 1px #000;
                            border-radius: 10px;
                        }

                        &.hp {
                            background: hsl(var(--hue) 75% 40%);
                        }

                        &.sp {
                            background: blue;
                        }
                    }
                }
            }
        }

        &.inverted {
            .owned-actor {
                img {
                    opacity: 0.3;
                }

                &:hover {
                    img {
                        opacity: 1;
                    }

                    .bars .value,
                    .statistics,
                    .heroPoints {
                        visibility: hidden;
                        opacity: 0;
                    }
                }
            }
        }

        &:not(.inverted) {
            .owned-actor {
                .bars .value,
                .statistics,
                .heroPoints {
                    visibility: hidden;
                    opacity: 0;
                }

                &:hover {
                    img {
                        opacity: 0.3;
                    }

                    .bars .value,
                    .statistics,
                    .heroPoints {
                        visibility: visible;
                        opacity: 1;
                    }
                }
            }
        }
    }

    [data-panel="patch"] {
        grid-column: portrait;
        grid-row: bottom;
        background: var(--panel-background),
            repeating-linear-gradient(
                45deg,
                transparent,
                transparent 10px,
                rgba(255, 255, 255, 0.2) 10px,
                rgba(255, 255, 255, 0.2) 20px
            );
    }

    &.cleaned {
        [data-action="toggle-clean"]:not(.cleaned) {
            display: none;
        }

        [data-panel="portrait"]:hover ~ [data-panel="stats"],
        [data-panel="stats"]:hover {
            display: grid;
        }
    }

    &:not(.cleaned) {
        [data-action="toggle-clean"].cleaned {
            display: none;
        }

        [data-panel="stats"] {
            display: grid;
        }
    }

    &.locked {
        [data-action="toggle-hotbar-lock"]:not(.locked) {
            display: none;
        }
    }

    &:not(.locked) {
        [data-action="toggle-hotbar-lock"].locked {
            display: none;
        }
    }

    &.muted {
        [data-action="mute-sound"]:not(.muted) {
            display: none;
        }
    }

    &:not(.muted) {
        [data-action="mute-sound"].muted {
            display: none;
        }
    }

    #hotbar {
        grid-column: info / full;
        grid-row: bottom;
        flex-wrap: nowrap;
        height: var(--hotbar-size);
        margin: 0;
        padding: 0;
        transform: none;
        gap: var(--panel-gap);
        opacity: 1;

        #action-bar {
            width: auto;
            gap: var(--panel-gap);

            li {
                border-radius: var(--outer-border-radius);
                background: var(--panel-background);

                span {
                    background: var(--panel-background);
                    color: var(--color);
                }
            }
        }

        #hotbar-controls-left,
        #hotbar-controls-right > div {
            display: none;
        }

        #hotbar-page-controls {
            --button-size: 1.4em;

            background: var(--panel-background);
            border-radius: var(--outer-border-radius);

            button {
                font-size: var(--hud-font-size);
                color: var(--color);
            }
        }
    }
}

#ui-left-column-1:has(> #pf2e-hud-persistent) {
    width: calc(
        (var(--control-columns) * var(--control-size)) + ((var(--control-columns) - 1) * 8px) + 12px
    );

    #scene-controls {
        overflow: hidden auto;
    }
}

#ui-bottom {
    #pf2e-hud-persistent {
        margin-bottom: var(--panel-gap);
    }
}

@import "./effects";
@import "./shortcuts";
