{{#each infoSections as |info|}}
<div class="info{{#if info.active}} active{{/if}}" data-section="{{info.section}}"
    data-tooltip="{{info.tooltip}}" class="info">
    <i class="{{info.icon}}"></i>
</div>
{{/each}}