<div class="image" data-action="send-to-chat">
    <img src="{{img}}">
    <i class="fa-solid fa-message chat"></i>
    {{#if isTemporary}}
    <i class="temporary fa-solid fa-clock"></i>
    {{/if}}
    {{#if (@root.flagged this)}}
    <i class="flagged fa-solid fa-flag-pennant"></i>
    {{/if}}
</div>