<div class="image" data-action="send-to-chat">
    <img src="{{img}}">
    <i class="fa-solid fa-message chat"></i>
    {{#if isTemporary}}
    <i class="fa-solid fa-clock temporary"></i>
    {{/if}}
</div>