<div data-section="level" data-tooltip="PF2E.CharacterLevelLabel">
    <span><i class="fa-solid fa-user-graduate"></i></span>
    <span>{{level}}</span>
</div>
{{#if isCharacter}}
<div data-section="hero-points" data-tooltip="PF2E.HeroPointsLabel">
    <span>
        <i class="fa-solid fa-circle-h"></i>
    </span>
    {{> (partial 'slider') entry=heroPoints action="hero"}}
</div>
{{else if isNPC}}
<a data-section="recall-knowledge" data-tooltip="PF2E.RecallKnowledge.Label"
    data-action="recall-knowledge">
    <i class="fa-solid fa-book"></i>
    <span>{{recall}}</span>
</a>
{{/if}}