<div class="numbers">
    <input type="number" name="{{name}}" value="{{entry.value}}" min="0" max="{{entry.max}}">
    <span class="separator">/</span>
    <span class="max">{{entry.max}}</span>
</div>