<a class="slider" data-slider-action="{{action}}">
    <i class="carret fa-solid fa-angle-left{{#unless canBack}} disabled{{/unless}}"></i>
    <span class="value">{{value}}</span>
    <i class="carret fa-solid fa-angle-right{{#unless canForward}} disabled{{/unless}}"></i>
</a>