<a class="slider" data-slider-action="{{action}}">
    <i class="carret fa-solid fa-angle-left{{#if (eq entry.value 0)}} disabled{{/if}}"></i>
    <span>{{entry.value}}</span>
    <i class="carret fa-solid fa-angle-right{{#if (eq entry.value entry.max)}} disabled{{/if}}"></i>
</a>