<a class="slider" data-slider-action="{{action}}">
    <i
        class="carret previous fa-solid fa-angle-left{{#if (or (eq entry.value 0) (eq entry.value entry.min))}} disabled{{/if}}"></i>
    <span class="value">{{entry.value}}</span>
    <i
        class="carret next fa-solid fa-angle-right{{#if (eq entry.value entry.max)}} disabled{{/if}}"></i>
</a>