{{#if health.useStamina}}
<div data-section="resolve" data-tooltip="PF2E.ResolvePointsShortLabel">
    <a data-action="use-resolve">
        <i class="fa-solid fa-circle-r"></i>
    </a>
    <input class="small" type="number" name="system.resources.resolve" value="{{resolve.value}}"
        min="0" max="{{resolve.max}}">
</div>
<div data-section="stamina" data-tooltip="PF2E.StaminaPointsShortLabel">
    <span><i class="fa-solid fa-heart-pulse"></i></span>
    {{> (partial 'numbers') name="system.attributes.hp.sp" entry=health.sp}}
</div>
{{/if}}