{{#each infoSections as |info|}}
<div class="info{{#if info.active}} active{{/if}}" data-section="{{info.slug}}" {{#if
    info.tooltip}}data-tooltip="{{info.tooltip}}" {{/if}} class="info">
    <i class="{{info.icon}}"></i>
</div>
{{/each}}