<div data-section="hero-points" data-tooltip="PF2E.HeroPointsLabel">
    <span><i class="fa-solid fa-circle-h"></i></span>
    {{> (partial 'slider') entry=heroPoints action="hero"}}
</div>
<div data-section="dying" data-tooltip="PF2E.ConditionTypeDying">
    <a {{#unless dying.value}}class="disabled" {{/unless}} data-action="recovery-check"
        data-tooltip="PF2E.Check.Specific.Recovery">
        <i class="fa-solid fa-tombstone"></i>
    </a>
    {{> (partial 'slider') entry=dying action="dying"}}
</div>
<div data-section="wounded" data-tooltip="PF2E.ConditionTypeWounded">
    <span><i class="fa-solid fa-notes-medical"></i></span>
    {{> (partial 'slider') entry=wounded action="wounded"}}
</div>