<a data-section="speeds" data-tooltip="{{otherSpeeds}}" data-tooltip-class="pf2e-hud-iconed-list"
    {{#unless otherSpeeds}}class="disabled" {{/unless}} data-speed="{{mainSpeed.type}}"
    data-action="change-speed">
    <i class="{{mainSpeed.icon}}"></i>
    <span>{{mainSpeed.total}}</span>
</a>