<a class="slider three-steps" data-step-action="{{step.action}}" data-step-value="{{step.value}}"
    data-tooltip="{{step.tooltip}}">
    <i class="carret fa-solid fa-angle-left{{#if (eq step.value 1)}} disabled{{/if}}"></i>
    <i class="icon {{step.icon}}"></i>
    <i class="carret fa-solid fa-angle-right{{#if (eq step.value 3)}} disabled{{/if}}"></i>
</a>