#pf2e-hud-token-sidebar {
    --header-border: 1px solid #ffffff1f;
    --header-background: #0000003d;

    .item-list {
        white-space: nowrap;

        header {
            position: relative;
            background: var(--header-background);
            border: var(--header-border);
            border-left: 0;
            border-right: 0;
            height: 1.4em;

            .name {
                text-align: center;
            }

            [data-section="focus-points"] {
                position: absolute;
                right: 0.2em;
                top: 0;
            }

            &:not(:first-of-type) {
                margin-top: 0.6em;
            }
        }

        .item {
            display: flex;
            height: 2.5em;
            gap: 0.2em;
            margin-top: 0.3em;

            .details {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .name {
                    background-color: rgb(255 255 255 / 9%);
                    padding-inline: 0.2em;
                }

                .extras {
                    display: flex;
                    justify-content: space-between;
                    gap: 1em;
                    color: var(--color-text-light-4);
                    font-size: 0.9em;

                    a:has(i) {
                        line-height: 1;
                        margin-top: 2px;
                    }

                    .category {
                        display: flex;
                        padding-left: 0.2em;
                        gap: 0.2em;

                        .action-glyph {
                            font-size: 0.8em;
                            margin-top: 1px;
                        }
                    }

                    .actions {
                        display: flex;
                        align-items: center;

                        .numbers {
                            --input-width: 2em;
                            --input-equivalent-width: 1.8em;

                            margin-right: -0.2em;
                        }
                    }
                }
            }

            &[data-slot-expended] {
                .image {
                    filter: grayscale(1);
                }

                .details {
                    .name {
                        color: var(--color-disabled);
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}
