<div class="group infos">
    <div class="app panel">
        {{> (partial 'stats_infos')}}
    </div>
</div>
<div class="group primary">
    <div class="app panel header">
        {{#if hasActor}}
        {{> (partial 'stats_level')}}
        {{> (partial 'stats_speed')}}
        {{/if}}
    </div>
    <div class="app panel saves">
        {{> (partial 'stats_statistics')}}
    </div>
</div>
{{#if isCharacter}}
<div class="group extras">
    <div class="panel app">
        {{> (partial 'stats_extras')}}
    </div>
</div>
{{/if}}