<div class="group first">
    <div class="app panel">
        {{#if hasActor}}
        {{> (partial 'level')}}
        {{/if}}
    </div>
    <div class="app panel saves">
        {{> (partial 'statistics') list=saves}}
        {{> (partial 'statistics') list=others}}
    </div>
    <div></div>
</div>