<div class="group infos">
    <div class="app panel">
        {{> (partial 'stats_infos')}}
    </div>
</div>
<div class="group primary">
    <div class="app panel header">
        {{#if hasActor}}
        {{> (partial 'stats_level')}}
        {{> (partial 'stats_speed')}}
        {{/if}}
    </div>
    <div class="app panel saves">
        {{> (partial 'stats_statistics')}}
    </div>
</div>
<div class="group stretch">
    <div class="panel app sidebars">
        {{> (partial 'sidebars')}}
    </div>
    <div class="bottom">
        {{#if isCharacter}}
        <div class="panel app">
            {{> (partial 'stats_extras')}}
        </div>
        {{/if}}
        <div class="shortcuts">
            <div class="shortcut app"></div>
            <div class="shortcut app"></div>
            <div class="shortcut app"></div>
            <div class="shortcut app"></div>
        </div>
    </div>
</div>