<div class="group infos">
    <div class="app panel">
        {{> (@root.partial 'stats_infos')}}
    </div>
</div>
<div class="group primary">
    <div class="app panel header">
        {{#if hasActor}}
        {{> (@root.partial 'stats_level')}}
        {{> (@root.partial 'stats_speed')}}
        {{/if}}
    </div>
    <div class="app panel saves">
        {{> (@root.partial 'stats_statistics')}}
    </div>
</div>
<div class="group stretch">
    <div class="top">
        <div class="panel app sidebars">
            {{#if (and isCharacter alliance)}}
            {{> (@root.partial 'three-steps') step=alliance}}
            <hr>
            {{/if}}
            {{> (@root.partial 'sidebars')}}
            {{#if hasActor}}
            <hr>
            <a class="effects-toggle" data-section="effects" data-action="toggle-effects"
                data-tooltip="{{@root.i18n.path 'effects.toggle'}}">
                <i class="fa-solid fa-person-rays"></i>
            </a>
            {{/if}}
        </div>
        {{#if hasActor}}
        <div class="panel app shotcut-menus">
            <a {{#if isCharacter}}class="disabled" {{/if}} data-section="fill-shortcuts"
                data-action="fill-shortcuts"
                data-tooltip="{{@root.i18n.path 'shortcut.fill.title'}}">
                <i class="fa-solid fa-fill-drip"></i>
            </a>
            {{#if isGM}}
            <a {{#if isNPC}}class="disabled" {{/if}} data-section="copy-shortcuts"
                data-action="copy-owner-shortcuts"
                data-tooltip="{{@root.i18n.path 'shortcut.owner.title'}}">
                <i class="fa-solid fa-user-pen"></i>
            </a>
            {{/if}}
            <a data-section="reset-shortcuts" data-action="delete-shortcuts"
                data-tooltip="{{@root.i18n.path 'shortcut.delete.title'}}">
                <i class="fa-solid fa-circle-x"></i>
            </a>
        </div>
        {{/if}}
    </div>
    <div class="bottom">
        {{#if isCharacter}}
        <div class="panel app">
            {{> (@root.partial 'stats_extras')}}
        </div>
        {{/if}}
        <div id="pf2e-hud-persistent-shortcuts"></div>
    </div>
</div>