<div class="avatar" data-action="edit-avatar" style='background-image: url("{{avatar}}");'></div>
{{#if hasActor}}
<div class="top">
    <div class="name">{{name}}</div>
</div>

<div class="bottom panel stats-header">
    {{> (@root.partial 'stats_header')}}
</div>
{{/if}}
<div class="flash"></div>