<div id="pf2e-hud-persistent-portrait" class="app" data-tooltip-direction="UP">
    <div class="avatar" style="background-image: url({{avatar}});"></div>

    {{#if hasActor}}
    <div class="top">
        <div class="name">{{name}}</div>
    </div>

    <div class="bottom">
        {{> (partial 'stamina')}}
        {{> (partial 'health')}}
        {{> (partial 'armor')}}
    </div>
    {{/if}}
</div>