<label>
    <input {{#unless hasSteel}}class="hidden" {{/unless}} type="radio" name="pick" value="breather"
        checked>
    <span>
        {{#if hasSteel}}
        <strong>{{i18n 'breather.label'}}:</strong>
        {{/if}}
        {{i18n 'breather.hint'}}
    </span>
</label>
{{#if hasSteel}}
<label>
    <input type="radio" name="pick" value="steel">
    <span>
        <strong>{{localize 'PF2E.Actions.SteelYourResolve.Title'}}:</strong>
        {{i18n 'steel.hint'}}
    </span>
</label>
{{/if}}