<div id="pf2e-hud-token-main">
    <div class="panel top stats-header">
        <div class="name">{{name}}</div>
        <hr>
        {{> (partial 'stats_header')}}
        {{#unless isCombatant}}
        <div class="double extras">
            {{> (partial 'stats_level')}}
            {{#if (or isVehicle isHazard)}}
            {{> (partial 'stats_statistics')}}
            {{else if isFamiliar}}
            {{> (partial 'stats_speed')}}
            {{/if}}
        </div>
        {{/unless}}
    </div>

    {{#if isCombatant}}
    <div class="panel left">
        {{#if isCharacter}}
        {{> (partial 'stats_extras')}}
        {{/if}}
        {{> (partial 'stats_level')}}
        {{> (partial 'stats_speed')}}
        {{#if isNPC}}
        <a data-section="recall-knowledge" data-tooltip="PF2E.RecallKnowledge.Label"
            data-action="recall-knowledge">
            <i class="fa-solid fa-book"></i>
            <span>{{recall}}</span>
        </a>
        {{/if}}
    </div>
    {{/if}}

    {{#if (or isCombatant isFamiliar)}}
    <div class="panel right">
        {{> (partial 'stats_statistics')}}
    </div>
    {{/if}}

    <div class="panel bottom">
        {{#unless isArmy}}
        {{> (partial 'stats_infos')}}
        <hr>
        {{/unless}}
        {{> (partial 'sidebars')}}
    </div>
</div>