<div id="pf2e-hud-token-main">
    <div class="panel top">
        {{#if name}}
        <div class="name">{{name}}</div>
        {{/if}}
        {{!-- --}}
        {{> (partial 'stamina')}}
        {{!-- --}}
        {{#if hardness includeZero=true}}
        <div data-section="hardness" data-tooltip="PF2E.HardnessLabel">
            <span><i class="fa-solid fa-turtle"></i></span>
            <span>{{hardness}}</span>
        </div>
        {{/if}}
        {{> (partial 'health') noTemp=(or isVehicle isHazard) double=isArmy}}
        {{#if isCombatant}}
        {{> (partial 'armor')}}
        {{/if}}
    </div>

    <div class="panel left">
        {{#if isCharacter}}
        <div data-section="dying" data-tooltip="PF2E.ConditionTypeDying">
            <a {{#unless dying.value}}class="disabled" {{/unless}} data-action="recovery-check"
                data-tooltip="PF2E.Check.Specific.Recovery">
                <i class="fa-solid fa-tombstone"></i>
            </a>
            {{> (partial 'slider') entry=dying action="dying"}}
        </div>
        <div data-section="wounded" data-tooltip="PF2E.ConditionTypeWounded">
            <span><i class="fa-solid fa-notes-medical"></i></span>
            {{> (partial 'slider') entry=wounded action="wounded"}}
        </div>
        <div></div>
        {{/if}}
        {{!-- --}}
        {{> (partial 'level')}}
        {{#unless isCombatant}}
        {{> (partial 'armor')}}
        {{/unless}}
        {{!-- --}}
        {{#if mainSpeed}}
        {{> (partial 'speed')}}
        {{/if}}
        {{#if isVehicle}}
        {{> (partial 'statistics') list=saves}}
        {{else if isArmy}}
        <a data-section="scouting" data-tooltip="PF2E.Kingmaker.Army.Scouting"
            data-action="roll-statistic" data-statistic="scouting">
            <i class="fa-solid fa-flag"></i>
            <span>{{scouting}}</span>
        </a>
        {{/if}}
    </div>

    {{#if (or isCombatant isFamiliar)}}
    <div class="panel right">
        {{> (partial 'statistics') list=saves}}
        {{> (partial 'statistics') list=others}}
    </div>
    {{/if}}

    <div class="panel bottom">
        {{> (partial 'infos')}}
        {{!-- --}}
        {{#if isCombatant}}
        <hr>
        {{> (partial 'sidebars')}}
        {{/if}}
    </div>
</div>