.pf2e-hud-element.advanced {
    --panel-inner-gap: 0.3em;

    [data-panel] {
        white-space: nowrap;
        display: grid;
        gap: var(--panel-inner-gap);

        i {
            color: var(--icon-color);
        }

        [data-section] {
            display: flex;
            align-items: center;

            &.full {
                grid-column: 1 / -1;
            }

            &.double {
                grid-column: 2 / -1;
            }

            .numbers {
                flex: 1;
                display: grid;
                grid-template-columns: 1fr auto 0.9fr;
                align-items: center;

                .max {
                    text-align: center;
                    margin-bottom: -1px;
                }
            }

            > i + span,
            > a + span,
            > i + .slider,
            > a + .slider {
                width: var(--input-width-small);
                flex: 0 0 var(--input-width-small);
                text-align: center;
            }
        }

        [data-section="name"] {
            justify-content: center;
        }

        [data-section="shield"] {
            input,
            .nan {
                flex-grow: 1;
            }

            .nan {
                text-align: center;
            }
        }

        [data-section="statistics"] {
            justify-content: space-between;
        }

        [data-section="npc-notes"] {
            flex: 1;
            justify-content: center;

            i + span {
                text-align: unset;
                width: auto;
                flex: 0;
            }
        }

        [data-section="alliance"] {
            i + span {
                i {
                    color: revert;
                    font-size: 0.9em;
                }
            }
        }
    }

    [data-panel="stats"] {
        grid-template-columns: 1fr 1fr 0.9fr;
    }

    [data-panel="info"] {
        grid-template-columns: repeat(5, 1fr);

        .info.disabled {
            opacity: 0.4;
        }
    }
}

.application.dialog.pf2e-hud-resolve {
    .dialog-content {
        label {
            display: flex;
            align-items: center;
            gap: 0.5em;
        }
    }
}
