#pf2e-hud-avatar-editor .window-content {
    hr {
        margin-block: 1em;
    }

    .form-group {
        margin: 0;

        > label {
            flex: 1.2;
        }

        .form-fields {
            button {
                margin: 0;
                padding: 0;
                flex: 0 0 36px;
                line-height: var(--form-field-height);
            }
        }
    }

    .buttons {
        margin-top: 1em;
        display: flex;
        gap: 4px;

        .spacer {
            flex: 3;
        }

        button {
            margin: 0;
            flex: 3;
        }
    }

    .viewport {
        flex: 1 0 512px;
        position: relative;
        width: 512px;
        height: 512px;
        margin: auto;

        .border,
        .image {
            position: absolute;
            inset: 0;
            background-repeat: no-repeat;
        }

        .border {
            opacity: 0.3;
            pointer-events: none;
            background-image: url("../images/avatar-border-white.webp");
            background-size: 100%;
        }
    }
}
