.chat-message.message {
    .pf2e-hud-rk {
        @mixin table($nbColumns) {
            --nb-rows: 1;
            --row-height: 1.8em;

            position: relative;
            padding-inline: 8px;
            display: grid;
            column-gap: 6px;
            font-size: 1.1em;
            align-items: center;
            background: repeating-linear-gradient(
                #ddd 0 var(--row-height),
                transparent var(--row-height) calc(var(--row-height) * 2)
            );
            grid-template-columns: repeat($nbColumns, auto);
            grid-template-rows: repeat(var(--nb-rows), var(--row-height));

            .header {
                z-index: 1;
                color: var(--text-dark);
                font-weight: bold;
            }

            :not(:nth-child(#{$nbColumns}n + 1)) {
                text-align: center;
            }

            .name {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .rk {
            @include table(4);

            &::before {
                content: "";
                position: absolute;
                background: #0000002e;
                top: 0;
                left: 0;
                right: 0;
                height: var(--row-height);
            }
        }

        .rk-skills {
            @include table(6);

            sup {
                padding-left: 2px;
            }
        }

        .rk-lores {
            @include table(7);
        }

        .rk-lores-rolls {
            @include table(4);
        }

        .success {
            &.\30 {
                color: red;
            }

            &.\33 {
                color: green;
            }
        }
    }
}
