#pf2e-hud-dice {
    --die-fill: white;
    --die-highlight-fill: #dd6767;
    --die-grey-fill: #aaaaaa;
    --die-grey-highlight-fill: #774949;
    --flat-color: var(--text-dark);
    --flat-highlight-color: var(--primary);
    --groove-dark-color: black;
    --groove-light-color: #595454;

    flex: 0;
    margin-block: 0.2rem;
    display: grid;
    grid-template-columns: repeat(7, 10.74%) auto repeat(2, 10.74%);
    border-top: 1px solid var(--groove-light-color);
    border-bottom: 1px solid var(--groove-dark-color);

    position: relative;

    &::before,
    &::after {
        position: absolute;
        content: "";
        left: 0;
        right: 0;
    }

    &::before {
        top: -2px;
        border-top: 1px solid var(--groove-dark-color);
    }

    &::after {
        bottom: -2px;
        border-bottom: 1px solid var(--groove-light-color);
    }

    .spacer {
        display: flex;
        justify-content: center;
        align-items: center;

        .separator {
            border-left: 1px solid var(--groove-dark-color);
            border-right: 1px solid var(--groove-light-color);
            height: calc(100% - 2px);
        }
    }

    .flat,
    .die {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        aspect-ratio: 1/1;

        &:hover {
            --die-fill: var(--die-highlight-fill);
            --die-grey-fill: var(--die-grey-highlight-fill);
        }
    }

    .flat {
        fill: var(--die-grey-fill);

        svg {
            height: 96%;
        }

        span {
            position: absolute;
            color: var(--flat-color);
            font-family: Eczar, Georgia, serif;
            font-weight: bold;
            font-size: 1.2rem;
            text-shadow: 0 0 1px white;
        }

        &:hover {
            span {
                color: var(--flat-highlight-color);
            }
        }
    }

    .die {
        fill: var(--die-fill);

        &[data-face="4"] {
            svg {
                height: 90%;
            }
        }

        &[data-face="6"] {
            svg {
                height: 80%;
            }
        }

        &[data-face="100"] {
            svg {
                height: 80%;
                position: absolute;

                &:first-child {
                    left: 0;
                    top: calc(50% - 0.1rem);
                    transform: translateY(-50%);
                    fill: var(--die-grey-fill);
                }

                &:last-child {
                    right: 0;
                    bottom: calc(50% - 0.1rem);
                    transform: translateY(50%);
                }
            }
        }
    }
}
