:root {
    --pf2e-hud-hotbar-width: 542px;
}

#pf2e-hud-persistent {
    --hud-height: 8em;

    display: flex;
    align-items: flex-start;
    font-size: var(--font-size);
    gap: var(--pf2e-hud-panel-gap);
    width: var(--players-width);
    height: calc(var(--hotbar-height) + var(--hud-height));
    margin: 0 var(--pf2e-hud-panel-gap) var(--interface-margin) 15px;
    padding: 0;
    z-index: var(--z-index-app);

    span,
    input,
    [data-section] i {
        text-shadow: 0 0 3px black;
    }

    #hotbar-directory-controls,
    #hotbar-lock {
        display: none;
    }

    #hotbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: var(--pf2e-hud-hotbar-width);
        margin-left: -2px;
        margin-bottom: var(--pf2e-hud-panel-gap);
        font-size: var(--font-size-14);

        #macro-list,
        #hotbar-page-controls {
            box-shadow: 0 0 10px var(--color-shadow-dark);
            background: url("../../../ui/denim075.png") repeat;
            border-radius: 5px;
        }

        #macro-list {
            > li {
                border: 0;
                background: none;
                box-shadow: none;

                img {
                    height: var(--macro-size);
                    width: calc(var(--macro-size) - 1px);
                }

                &:not(:last-child) {
                    border-right: 1px solid var(--color-border-dark);
                }
            }
        }
    }

    &:not(.show-effects) {
        #pf2e-hud-persistent-main {
            .effects-toggle {
                i {
                    color: var(--color-disabled);
                }
            }
        }
    }

    &.cleaned {
        #pf2e-hud-persistent-portrait {
            &:not(:hover) {
                .top {
                    opacity: 0.5;
                }

                .bottom {
                    opacity: 0;
                }
            }
        }
    }
}

#interface.has-hud-persistent {
    #players {
        #context-menu {
            &.expand-down {
                bottom: calc(100% + 2px);
                top: auto;
            }
        }
    }

    &:not(.show-users) {
        #players {
            display: none;
        }
    }
}

#pf2e-hud-persistent-menu {
    flex: 0;
    display: grid;
    grid-auto-flow: row;
    justify-items: center;
    gap: 0.3em;

    i {
        color: var(--icon-color);
    }

    .set-actor {
        &:not(.active) {
            i {
                color: var(--color-disabled);
            }
        }
    }
}

#pf2e-hud-persistent-portrait {
    --flash-color: 255, 255, 0;
    --flash-outset-blur: 20px;
    --flash-outset-color: rgb(var(--flash-color));
    --flash-inset-blur: 30px;
    --flash-inset-color: rgba(var(--flash-color), 0.55);

    position: relative;
    height: 100%;
    padding: 0;
    aspect-ratio: 1 / 1;

    > * {
        position: absolute;
    }

    .avatar {
        margin: 2px;
        inset: 0;

        cursor: pointer;

        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .top {
        top: 0;
        inset-inline: 0;

        .name {
            text-align: center;
            background: linear-gradient(
                90deg,
                rgba(0, 0, 0, 0.3) 0%,
                rgba(0, 0, 0, 0.6) 20%,
                rgba(0, 0, 0, 0.8) 50%,
                rgba(0, 0, 0, 0.6) 80%,
                rgba(0, 0, 0, 0.3) 100%
            );
        }
    }

    .bottom {
        bottom: 0;
        inset-inline: 0;
        display: grid;
        gap: var(--section-gap);
        background: #212121b3;
        padding: 0.2em 0.1em 0.1em;
        grid-template-columns: repeat(3, 1fr);
    }

    .flash {
        inset: 0;
        pointer-events: none;
    }
}

#pf2e-hud-persistent-main {
    --info-width: 2.24em;
    --primary-width: 7.6em;
    --one-three-rows: 1.1fr 3fr 0;
    --attack-background: #171f6999;
    --attack-border-color: #2e3a9c;
    --damage-background: #6d101078;
    --damage-border-color: #a41414;
    --variant-background: #4f4732;
    --variant-border-color: #9f916e;
    --shortcut-title-border-color: #999999;
    --shortcut-title-background: #121212;

    position: relative;
    display: flex;
    width: fit-content;
    height: var(--hud-height);
    gap: var(--pf2e-hud-panel-gap);

    .group {
        display: grid;
        grid-template-rows: var(--one-three-rows);
        gap: var(--pf2e-hud-panel-gap);

        .panel {
            padding: var(--panel-padding-block) calc(var(--panel-padding-inline) + 0.1em)
                var(--panel-padding-block) var(--panel-padding-inline);
        }

        &.infos {
            width: var(--info-width);

            .panel {
                grid-row: 1 / span 2;
            }
        }

        &.primary {
            width: var(--primary-width);
            grid-template-columns: 1fr 1fr;

            .header {
                grid-template-columns: repeat(2, 1fr);
                grid-column: 1 / span 2;
            }

            .saves {
                grid-template-rows: repeat(3, 1fr);
                gap: 0.2em 0.5em;
                grid-column: 1 / span 2;
                grid-auto-flow: column;
            }
        }

        &.stretch {
            flex: 1;

            .top {
                display: flex;
                gap: var(--pf2e-hud-panel-gap);

                .sidebars,
                .shortcut-menus {
                    grid-auto-flow: column;
                    justify-content: start;
                    width: fit-content;
                }

                hr {
                    height: calc(100% - 1px);
                    border: 0;
                    margin: 0;
                    border-right: 1px solid var(--hr-color);
                }

                .sidebars {
                    min-width: 11.708em;

                    .effects-toggle {
                        display: grid;
                        align-items: center;
                    }

                    .three-steps {
                        width: 2.1em;
                    }
                }

                .shortcut-menus {
                    > * {
                        grid-template-columns: auto;
                    }

                    > a {
                        &.disabled {
                            i {
                                color: var(--color-disabled);
                            }
                        }
                    }

                    .shortcuts-navigation {
                        margin-left: 0.3em;
                    }
                }
            }

            .bottom {
                grid-row: 2 / 3;
                display: flex;
                gap: var(--pf2e-hud-panel-gap);
            }
        }
    }
}

#pf2e-hud-persistent-shortcuts {
    flex: 1;
    display: grid;
    gap: var(--pf2e-hud-panel-gap);
    justify-content: start;
    grid-auto-rows: 1fr;
    grid-auto-flow: column;
    grid-auto-columns: 5.332em;

    .shortcut-group {
        --split-gap: 3px;

        .shortcut {
            --offset: calc(var(--split-gap) * -1);
            --name-offset: 0.35em;
            --subtitle-offset: calc(var(--name-offset) + 2.1em);

            @mixin top-left {
                top: var(--offset);
                left: var(--offset);
            }

            @mixin top-right {
                top: var(--offset);
                right: var(--offset);
            }

            @mixin bottom-left {
                bottom: var(--offset);
                left: var(--offset);
            }

            @mixin bottom-right {
                bottom: var(--offset);
                right: var(--offset);
            }

            position: relative;
            height: 100%;

            > * {
                position: absolute;
            }

            > :not(.variants, [data-action], .controls) {
                pointer-events: none;
            }

            img {
                border: 0;
                background: none;
            }

            > img {
                height: 100%;
                inset: 0;
                border-radius: 4px;
            }

            .category {
                img {
                    filter: brightness(0) saturate(100%) invert(88%) sepia(21%) saturate(129%)
                        hue-rotate(21deg) brightness(110%) contrast(88%);
                }
            }

            .range {
                @include top-left();

                font-size: 0.9em;
                max-width: 100%;
                flex-wrap: wrap-reverse;

                .category {
                    height: 1.15em;
                    display: flex;
                    align-items: center;

                    i {
                        font-size: 0.9em;
                    }

                    img {
                        height: 100%;
                        aspect-ratio: 1.1;
                    }
                }
            }

            .check {
                inset: 0;

                i {
                    position: absolute;
                    font-size: 1.7em;
                    left: 50%;
                    top: calc(50% + 0.02em);
                    transform: translate(-50%, -50%);

                    &:last-child {
                        opacity: 0.7;
                        color: black;
                    }
                }
            }

            .name,
            .subtitle {
                white-space: nowrap;
                left: 50%;
                transform: translateX(-50%);
                padding: 0.4em 0.5em;
                background: var(--shortcut-title-background);
                border-color: var(--shortcut-title-border-color);
            }

            .name {
                bottom: calc(100% + var(--name-offset));
            }

            .subtitle {
                bottom: calc(100% + var(--subtitle-offset));
            }

            .boxed {
                background: #000000a3;
                padding: 0 0.2em;
                border-radius: 4px;
                display: flex;
            }

            .broken,
            .equip {
                inset: 0;

                i {
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;

                    &:first-child {
                        font-size: 1.1em;
                        text-shadow: 0 0 6px white;
                    }

                    &:nth-child(2) {
                        color: black;
                    }
                }
            }

            .versatile {
                @include bottom-left();
                padding-block: 0.2em;
            }

            .broken {
                font-size: 1.2em;
            }

            .equip {
                font-size: 1.5em;
            }

            .quantity {
                @include bottom-right();

                span {
                    font-size: 0.9em;
                }
            }

            .prepared {
                @include bottom-right();

                span {
                    width: 1ch;
                    display: flex;
                    justify-content: center;
                }
            }

            .cost {
                @include top-left();

                white-space: nowrap;
                overflow: hidden;

                > span {
                    font-size: 0.8em;
                    margin-top: -0.1em;
                }
            }

            .effect {
                @include bottom-left();

                padding: 0.1em;

                i {
                    font-size: 0.7em;
                }
            }

            .category-icon {
                @include bottom-left();

                i {
                    text-shadow: 0 0 0px white;
                    color: black;
                    font-size: 0.9em;
                }
            }

            .rank {
                @include top-right();

                span {
                    font-size: 0.7em;
                }
            }

            .center {
                font-size: 1.8em;
                background: #000000ab;
                line-height: 1;
                padding-inline: 0.1em;
                border-radius: 4px;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }

            .generic {
                top: -0.35em;
                left: -0.35em;
                color: #000000;
                text-shadow: 0 0 3px white;

                i {
                    font-size: 0.9em;
                }
            }

            .background {
                inset: 0;
                background: rgba(0, 0, 0, 0.568627451);
            }

            .controls {
                top: 0.2em;
                left: 0;
                display: flex;

                .type-toggle {
                    margin-top: 0.05em;
                }

                .extras ~ .type-toggle {
                    margin-left: -0.1em;
                }

                .type-toggle:first-child {
                    margin-left: 0.2em;

                    + .type-toggle {
                        margin-left: 0.2em;
                    }
                }
            }

            .variants {
                inset: 0;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                pointer-events: all;
                overflow: hidden;

                > .category {
                    flex: 1;
                    position: relative;

                    img,
                    i {
                        position: absolute;
                        position: absolute;
                        right: 0.2em;
                    }

                    img {
                        top: 0.1em;
                        height: 1.3em;
                    }

                    i {
                        top: 0.25em;
                    }
                }

                .variant {
                    cursor: pointer;
                    text-align: center;
                    border-width: 1px 0 0;
                    border-style: solid;
                    text-transform: uppercase;
                    font-size: 0.85em;
                    background: var(--variant-background);
                    border-color: var(--variant-border-color);
                    padding-block: 0.05em;
                    padding-inline: 0.2em;

                    .action-glyph {
                        display: none;
                    }

                    &:not(.wrap) {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    &.attack {
                        background: var(--attack-background);
                        border-color: var(--attack-border-color);
                    }

                    &.damage {
                        background: var(--damage-background);
                        border-color: var(--damage-border-color);
                    }

                    &:nth-child(4),
                    &:last-child {
                        border-radius: 0 0 4px 4px;
                    }

                    &:hover {
                        filter: brightness(1.5);
                    }

                    &[data-disabled] {
                        pointer-events: none;
                        cursor: default;
                        color: var(--color-disabled);
                        filter: grayscale(1);
                    }

                    &:has(select) {
                        display: none;
                    }
                }

                &.versatiles {
                    display: none;
                }
            }

            &.has-variants {
                .variants {
                    > .category {
                        i,
                        img {
                            cursor: pointer;
                        }

                        i:hover {
                            text-shadow: 0 0 8px var(--color-shadow-primary);
                        }

                        img:hover {
                            filter: invert(89%) sepia(30%) saturate(3986%) hue-rotate(300deg)
                                brightness(104%) contrast(106%);
                        }
                    }
                }
            }

            &:not(:hover) {
                .name,
                .subtitle {
                    display: none;
                }

                &.attack {
                    > :not(img, .quantity, .range, .versatile) {
                        display: none;
                    }
                }
            }

            &:hover {
                &.attack {
                    .quantity {
                        display: none;
                    }
                }

                .range,
                .versatile {
                    display: none;
                }
            }

            &.empty {
                border-style: dashed;
                background: rgb(0 0 0 / 37%);
            }

            &:not(.empty, .disabled, .attack) {
                cursor: pointer;
            }

            &:not(.empty, .disabled, .attack, .faded-out) {
                &:hover {
                    img {
                        filter: brightness(1.5);
                    }
                }
            }

            &.faded-out {
                > img {
                    filter: grayscale(1);
                }
            }

            &:not(.show-damage) {
                .variant.damage,
                .type-toggle.attack {
                    display: none;
                }
            }

            &.show-damage {
                .variant.attack,
                .type-toggle.damage {
                    display: none;
                }
            }

            &:not(.use-variant) {
                .variants:not(.versatiles) ~ .variants:not(.versatiles) {
                    display: none;
                }
            }

            &.use-variant {
                .variants:not(.versatiles):has(~ .variants:not(.versatiles)) {
                    display: none;
                }
            }
        }

        &.split {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: var(--split-gap);
            grid-auto-flow: column;

            .shortcut {
                &:nth-child(2),
                &:nth-child(4) {
                    .name {
                        bottom: calc(200% + var(--name-offset) + var(--split-gap) * 2);
                    }

                    .subtitle {
                        bottom: calc(200% + var(--subtitle-offset) + var(--split-gap) * 2);
                    }
                }
            }
        }
    }
}

#pf2e-hud-persistent-effects {
    --icon-size: 2.2em;
    --border-color: #141414;

    position: absolute;
    left: 0;
    bottom: 100%;
    display: flex;
    pointer-events: auto;
    justify-content: unset;
    align-items: end;
    max-width: calc(var(--pf2e-hud-hotbar-width) + 3px);
    margin-bottom: var(--pf2e-hud-panel-gap);
    gap: 0.2em;
    flex-wrap: wrap-reverse;

    hr {
        border-left: 1px solid var(--border-color);
        margin-inline: 0.1em;
        height: var(--icon-size);
    }

    .effect-item {
        display: flex;
        justify-content: end;
        width: var(--icon-size);
        flex-direction: column;

        > .icon {
            --offset: -0.1em;

            position: relative;
            background-repeat: no-repeat;
            background-size: contain;
            position: relative;
            width: var(--icon-size);
            aspect-ratio: 1 / 1;
            border-radius: 4px;
            box-shadow: inset 0 0 0px 1px var(--border-color);

            > * {
                position: absolute;
            }

            .expired {
                inset: 0;
                display: flex;
                color: black;
                align-items: center;
                justify-content: center;
                font-size: 1.4em;
                text-shadow: 0 0 2px white;
            }

            .value-wrapper {
                color: var(--color);
                background: #000000a3;
                padding-inline: 0.2em;
                border-radius: 4px;
                left: var(--offset);
                bottom: var(--offset);
                font-size: 0.9em;
            }

            &.expired {
                filter: grayscale(1);
            }
        }

        .effect-info {
            background-color: rgba(0, 0, 0, 0.75);
            color: var(--color-text-light-2);
            display: none;
            gap: 3px;
            margin-bottom: 0.5em;
            padding: 0.25em 0.5rem;
            width: max-content;
            max-width: 350px;
            z-index: 1;
            transform: translateX(-50%);
            margin-left: 50%;

            h1 {
                margin: 0;
                padding: 0;
                border: none;
                display: flex;
                font-size: var(--font-size-14);
                padding-top: 0.25em;
                text-align: right;

                [data-action="send-to-chat"] {
                    i {
                        font-size: var(--font-size-13);
                        margin-left: 2px;
                    }
                }
            }

            .instructions,
            .description {
                font-size: var(--font-size-12);
            }

            .instructions {
                display: flex;
                flex-direction: column;
                gap: 2px;
                text-align: right;
            }

            .description {
                background: rgba(0, 0, 0, 0.7);
                max-height: 16em;
                overflow-y: auto;
                padding: 0 0.5em;
                text-align: left;

                a,
                span[data-pf2-effect-area] {
                    color: var(--color-text-dark-primary);
                }
            }
        }

        &:hover {
            .effect-info {
                display: flex;
                align-items: end;
                flex-direction: column;
            }
        }

        &[data-badge-type="formula"] {
            .icon {
                cursor: pointer;

                &:hover {
                    .value-wrapper {
                        display: none;
                    }

                    &::before {
                        content: "\f6cf";
                        background: rgba(0, 0, 0, 0.5);
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        font-size: var(--font-size-26);
                        color: var(--text-light);
                        position: absolute;
                        inset: 0;
                        font-size: 1.4em;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding-bottom: 0.1em;
                    }
                }
            }
        }
    }
}

#ui-bottom {
    > div:not(:has(#hotbar)) {
        justify-content: flex-end;
    }
}

.application.dialog {
    .pf2e-hud-persistent-automation {
        fieldset {
            gap: 0.3em;
            display: grid;
            grid-template-columns: 1fr auto;
            border: 0;
            padding: 0.5em 0;

            input {
                pointer-events: none;
            }

            .reset {
                i {
                    margin: 0;
                }
            }

            .hint {
                grid-column: 1 / -1;
            }
        }
    }
}
