[id^="pf2e-hud-popup-"] {
    --header-height: 2em;
    --link-background: #161616;
    --color-text-dark-improved: #11d393;

    position: absolute;
    background: var(--outer-background);
    border-radius: var(--outer-border-radius);
    box-shadow: var(--outer-box-shadow);

    .window-header {
        font-size: revert;
    }

    .window-content {
        padding: 0;
        color: var(--color);
        overflow-y: auto;
        font-size: var(--font-size);
        max-width: 40em;

        hr {
            margin: revert;
            height: 1px;
        }
    }

    .item-summary {
        padding: 0 0.5em 0.5em;

        .level {
            display: none;
        }

        .tags {
            padding: 0;

            > .tag.light {
                --tag-color: var(--color-text-dark-2);

                background: #ffffffd1;
            }
        }

        .button-group {
            align-items: start;
            display: flex;
            gap: var(--space-6);
            justify-content: center;
            flex-direction: column;

            button {
                color: var(--color);
            }
        }

        [data-visibility="gm"] {
            border-radius: 0;
            background: none;
            outline: 1px dotted #ffffff70;
            line-height: 1.1;
        }

        a.content-link,
        a.inline-roll,
        a.inline-check,
        span[data-pf2-effect-area] {
            --inline-padding: 0.2em;

            padding: 0 var(--inline-padding);
            background: var(--link-background);

            i {
                background: unset;
                width: unset;
                color: unset;

                &[data-pf2-repost] {
                    margin-right: calc(var(--inline-padding) * -1);
                    font-size: 0.85em;
                }
            }
        }

        a.inline-check,
        span[data-pf2-effect-area] {
            color: var(--color);
        }

        span[data-pf2-effect-area] {
            &::before {
                color: unset;
            }
        }

        p:last-of-type:empty {
            min-height: 0;
        }
    }

    .text-content {
        padding-inline: 0.5em;
    }
}
