[id^="pf2e-hud-popup-"] {
    --header-height: 2em;
    --link-background: #0000001c;
    --color-text-dark-improved: #11d393;

    position: absolute;
    max-width: 40em;
    background: var(--outer-background);
    border-radius: var(--outer-border-radius);
    box-shadow: var(--outer-box-shadow);

    .window-header {
        font-size: revert;
    }

    .window-content {
        padding: 0;
        color: var(--color);

        hr {
            margin: revert;
            height: 1px;
        }
    }

    .item-summary {
        padding: 0 0.5em 0.5em;

        .level {
            display: none;
        }

        .tags {
            padding: 0;

            > .tag.light {
                --tag-color: var(--color-text-dark-2);

                background: #ffffffd1;
            }
        }

        .button-group {
            align-items: start;
            display: flex;
            gap: var(--space-6);
            justify-content: center;
            flex-direction: column;

            button {
                color: var(--color);
            }
        }

        [data-visibility="gm"] {
            border-radius: 0;
            background: none;
            outline: 1px dotted rgb(255 255 255 / 44%);
            line-height: 1.1;
        }

        a.content-link,
        a.inline-roll,
        a.inline-check {
            padding: 0 0.2em 0 0;
            background: var(--color-cool-5-50);

            i {
                color: unset;
            }
        }

        a.inline-check {
            color: var(--color-alt);
        }

        p:last-of-type:empty {
            min-height: 0;
        }
    }

    .text-content {
        padding-inline: 0.5em;
    }
}
