#pf2e-hud-resources {
    --stats-background: #00000045;
    --filler-background: #00000059;

    background: none;
    border: 0;
    min-width: 0;
    box-shadow: none;
    border-radius: unset;

    .window-header {
        pointer-events: none;
        background: none;
        border: 0;
        padding: 0;
        flex: 0;

        > * {
            pointer-events: all;
            box-shadow: none;
        }

        .drag-hand {
            font-size: 1.8em;
            padding: 0 0.1em;
        }

        .header-control {
            cursor: pointer;
            margin-inline: 0.1em;
            font-size: 1.1em;
            aspect-ratio: 1 / 1;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;

            &:hover {
                color: var(--color-highlight);
                box-shadow: 0 0 5px var(--color-shadow-primary);
            }
        }
    }

    .window-content {
        padding: 0;
        backdrop-filter: none;
        gap: 0.3em;
        padding-top: 0.3em;

        .resource {
            --ratio: 1;

            position: relative;
            display: flex;
            flex-direction: column;
            width: 14em;
            gap: 0.1em;

            .name {
                background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.1) 100%);
                padding: 0 0.2em;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                i {
                    font-size: 0.86em;
                    margin-inline: -0.1em;

                    &:not(.visible) {
                        color: var(--color-disabled);
                    }
                }
            }

            .stats {
                position: relative;
                height: 1em;
                background: var(--stats-background);
                border-radius: 4px;

                > * {
                    position: absolute;
                    top: 0;
                    height: 100%;
                    display: flex;
                    align-items: center;
                }

                .filler {
                    left: 0;
                    width: calc(var(--ratio) * 100%);
                    background: var(--filler-background);
                    border-radius: 4px;
                }

                .min {
                    left: 0.2em;
                }

                .max {
                    right: 0.2em;
                }

                .value {
                    left: 50%;
                    transform: translateX(-50%);
                }
            }

            .decrease,
            .increase {
                position: absolute;
                height: 100%;
                width: 50%;
                top: 0;
                display: flex;
                align-items: flex-end;
            }

            .decrease {
                left: 0;
                justify-content: flex-start;
            }

            .increase {
                right: 0;
                justify-content: flex-end;
            }

            &:not(:hover) {
                .increase,
                .decrease {
                    display: none;
                }
            }

            &:hover {
                .stats {
                    .min,
                    .max {
                        display: none;
                    }
                }
            }
        }
    }
}

.application.dialog .pf2e-hud-resource-menu {
    label {
        white-space: nowrap;
    }

    input[type="number"] {
        flex: 0 0 3em;
        text-align: center;
        padding: 0;
    }

    .delete {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

#tooltip[role="tooltip"].pf2e-hud-resources-tooltip {
    text-align: left;
    font-size: 0.94em;
}
