$panel-gap: 5px;

[id^="pf2e-hud"] {
    --outer-background: url("../../../ui/denim075.png") repeat #4d4d4d;
    --outer-box-shadow: 0 0 20px var(--color-shadow-dark);
    --outer-border-width: 1px;
    --outer-border: var(--outer-border-width) solid var(--color-border-dark);
    --outer-border-radius: 4px;
    --input-width: 2.4em;
    --input-width-small: 1.8em;
    --input-equivalent-width: 2.2em;
    --input-background: rgb(255 255 255 / 8%);
    --icon-width: 1.4em;
    --color: #f1f1f1;
    --color-alt: #cbcbc3;
    --color-highlight: #ffffff;
    --color-active: #db2828;
    --color-reversed: black;
    --color-disabled: var(--color-text-dark-5);
    --inline-gap: 0.2em;
    --hr-color: #ffffff4a;
    --hr-margin: 0.2em;
    --section-gap: 0.1em 0.4em;
    --panel-gap: #{$panel-gap};
    --panel-padding-block: 0.2em;
    --panel-padding-inline: 0.3em;
    --interface-margin: var(--panel-gap);
    --hr-spacing: 0;

    &.app,
    .app {
        box-shadow: 0 0 10px var(--color-shadow-dark);
        border: 1px solid var(--color-border-dark);
        pointer-events: all;
        margin: 0;
        padding: var(--panel-padding-block) var(--panel-padding-inline);
    }

    input,
    select {
        color: var(--color);
    }

    select {
        flex: 1;
        padding: 0;
        border: none;
        background: var(--input-background);

        option {
            color: fieldtext;
            background: revert;
        }
    }

    input[type="number"] {
        text-align: center;
        border: none;
        padding: 0;
        height: 1.1em;
        width: var(--input-width);

        &:not(:disabled) {
            background-color: var(--input-background);
        }

        &:disabled {
            background: transparent;
        }

        &.small {
            width: var(--input-width-small);
        }
    }

    a {
        &.disabled {
            pointer-events: none;

            &:hover {
                text-shadow: none;
            }
        }

        &.greyed {
            color: var(--color-disabled);
        }
    }

    i {
        width: var(--icon-width);
        text-align: center;
    }

    hr {
        margin: var(--hr-spacing);
        border-bottom: 0;
        border-color: var(--hr-color);
    }

    .panel {
        pointer-events: all;
        line-height: 1.4;
        display: grid;
        gap: var(--section-gap);

        &.stats-header {
            grid-template-columns: repeat(3, auto);

            .double {
                grid-column: 2 / span 2;

                &.extras {
                    display: grid;
                    grid-template-columns: min-content 1fr;
                    justify-items: center;
                }
            }
        }
    }

    [data-section] {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: var(--inline-gap);

        span + span {
            min-width: 1.5em;
            text-align: center;
        }

        span:has(i) {
            display: flex;
            align-items: center;
        }

        .numbers {
            display: inline-grid;
            grid-template-columns: var(--input-width) auto var(--input-equivalent-width);
            align-items: center;
            justify-items: center;

            .separator {
                margin-left: 0.2em;
            }
        }

        &.slider,
        .slider {
            justify-self: center;
            display: flex;
            align-items: center;
            gap: 0.1em;

            i.carret {
                width: unset;
                font-size: 0.6em;
                margin-top: 1px;

                &.disabled {
                    color: var(--color-disabled);
                }
            }

            &.disabled {
                i.carret {
                    color: var(--color-disabled);
                }
            }
        }

        &.info {
            &:not(.active) {
                color: var(--color-disabled);
            }

            &.active {
                cursor: help;
            }
        }

        &.info,
        &[data-section="sidebar"] {
            grid-template-columns: auto;
        }

        &[data-section="sidebar"] {
            &.active {
                color: var(--color-active);
                text-shadow: none;
            }

            &.disabled {
                color: var(--color-disabled);
                pointer-events: none;
            }
        }

        &[data-section="adjustment"],
        &[data-statistic] {
            justify-content: space-between;

            span + span {
                text-align: end;
            }
        }

        &[data-section="shield"] {
            grid-template-columns: auto 1fr;

            a {
                display: flex;
                align-items: center;
                gap: var(--inline-gap);
            }

            input {
                width: 90%;
            }

            span {
                text-align: center;
                margin-right: 0.5em;
            }
        }
    }
}

#interface:has([id^="pf2e-hud"]) {
    --panel-gap: #{$panel-gap};
}

#pf2e-hud-persistent-main + div {
    #hotbar {
        margin-bottom: $panel-gap;
    }
}

#tooltip,
aside.locked-tooltip {
    &.pf2e-hud-iconed-list {
        display: grid;
        grid-template-columns: 1.4em 2em;
        align-items: center;
        row-gap: 0.3em;

        span {
            text-align: end;
        }
    }

    &.pf2e-hud-left {
        text-align: start;
    }

    &.pf2e-hud-width {
        max-width: unset;
    }

    &.pf2e-carry-type {
        border: none;

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 0.3em;

            li {
                a {
                    display: grid;
                    grid-template-columns: 1.5em 1fr;

                    &.selected {
                        color: #616bed;

                        &:hover {
                            cursor: default;
                            text-shadow: none;
                        }
                    }
                }
            }
        }
    }
}

body.pf2e-hud-fadeout {
    [id^="pf2e-hud-token"],
    [id^="pf2e-hud-sidebar"],
    [id^="pf2e-hud-popup-"] {
        opacity: 0.1;
        transition: opacity 250ms;
    }

    [id^="pf2e-hud-token"] {
        .panel {
            pointer-events: none;
        }
    }
}

.pf2e-hud-draggable {
    width: 32px;
    height: 32px;
    position: absolute;
    left: -10000px;
    border-radius: 4px;

    img {
        width: 100%;
        height: 100%;
    }
}
