.pf2e-hud {
    --outer-background: url("../../../ui/denim075.png") repeat #4d4d4d;
    --outer-box-shadow: 0 0 20px var(--color-shadow-dark);
    --outer-border-width: 1px;
    --outer-border: var(--outer-border-width) solid var(--color-border-dark);
    --outer-border-radius: 4px;

    font-size: var(--font-size-15);
    transform: scale(var(--ui-scale));
}
