#pf2e-hud-time {
    --icon-width: 1.2rem;

    flex: 0;
    padding-block: 0.2rem 0.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0.1rem;
    padding-inline: 0.5rem;

    .header,
    .details {
        width: 100%;
    }

    .header {
        text-align: center;
    }

    .details {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .controls {
            &.left {
                direction: rtl;

                i {
                    transform: rotateY(180deg);
                }
            }
        }

        .time {
            padding-inline: 0.5rem;
        }

        .encrypt {
            position: absolute;
            right: -0.2rem;

            &:not(.encrypted) {
                display: none;
            }
        }

        &.encrypted {
            .time {
                background: #ffffff1c;
                outline: 1px dotted rgb(205 205 205 / 50%);
            }
        }
    }

    &.is-gm {
        .header {
            height: 1.25rem;

            &:not(:hover) {
                .slider {
                    display: none;
                }
            }

            &:hover {
                .date {
                    display: none;
                }
            }
        }

        .details {
            .time {
                margin-top: -2px;
            }
        }

        &:hover {
            .encrypt {
                display: block;
            }
        }
    }
}

#sidebar {
    &.collapsed {
        #pf2e-hud-time {
            display: none;
        }
    }
}
