#pf2e-hud-token {
    --anchor-margin: 4px;
    --color: var(--text-light);
    --color-disabled: grey;
    // --outer-padding-right: 0.4rem;
    // --outer-padding: 0.2rem var(--outer-padding-right) 0.2rem 0.3rem;
    --outer-border-radius: 4px;
    --outer-box-shadow: 0 0 20px var(--color-shadow-dark);
    --outer-background: url(../../../ui/denim075.png) repeat #4d4d4d;
    --input-background: rgb(255 255 255 / 16%);
    --input-width: 2em;
    --highlight-color: #00f6ff;
    --text-shadown: 0 0 8px var(--highlight-color);

    position: absolute;
    pointer-events: none;
    font-size: var(--font-size);
    color: var(--color);
    transform-origin: left top;

    input,
    select {
        color: var(--color);

        &:focus {
            box-shadow: 0 0 5px var(--highlight-color);
        }
    }

    input[type="number"] {
        text-align: center;
        border: none;
        padding: 0;
        height: 1.1em;

        &:not(:disabled) {
            background-color: var(--input-background);
        }

        &:disabled {
            background: transparent;
        }
    }

    a {
        &:hover {
            text-shadow: var(--text-shadown);
        }

        &.disabled {
            pointer-events: none;
        }
    }
}

#pf2e-hud-token-main {
    --icon-width: 1.4em;
    --input-width: 2.4em;
    --input-equivalent-width: 2.2em;
    --inline-gap: 0.2em;
    --hr-color: #ffffff4a;
    --hr-margin: 0.1em;

    position: absolute;
    container: anchor / size;

    input[type="number"] {
        width: var(--input-width);
    }

    i {
        width: var(--icon-width);
        text-align: center;
    }

    hr {
        margin: 0;
        border-bottom: 0;
        border-color: var(--hr-color);
    }

    .panel {
        --panel-margin-block: 0.2em;
        --panel-gap: var(--panel-margin-block) 0.7em;

        // position: absolute;
        pointer-events: all;
        // background: var(--outer-background);
        // box-shadow: var(--outer-box-shadow);
        // border-radius: var(--outer-border-radius);
        // padding: var(--outer-padding);
        line-height: 1.4;
        display: grid;
        gap: var(--panel-gap);

        [data-section] {
            display: grid;
            grid-template-columns: auto auto;
            align-items: center;
            gap: var(--inline-gap);

            .numbers {
                display: inline-grid;
                grid-template-columns: var(--input-width) auto var(--input-equivalent-width);
                align-items: center;
                justify-items: center;

                .separator {
                    margin-left: 0.2em;
                }
            }

            &.slider,
            .slider {
                justify-self: center;
                display: flex;
                align-items: center;
                gap: 0.1em;

                i.carret {
                    width: unset;
                    font-size: 0.6em;
                    margin-top: 1px;

                    &.disabled {
                        color: var(--color-disabled);
                    }
                }

                &.disabled {
                    i.carret {
                        color: var(--color-disabled);
                    }
                }
            }

            span + span {
                min-width: 1.5em;
                text-align: center;
            }

            &[data-section="adjustment"] {
                justify-content: space-between;
            }
        }

        &.top {
            // left: 0;
            // bottom: calc(100% + var(--anchor-margin));
            grid-template-columns: repeat(2, auto);
            // padding-right: calc(var(--outer-padding-right) - 0.2rem);

            .name {
                grid-column: 1 / span 2;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                padding-inline: 0.3em;
                margin-bottom: -0.2em;
            }

            .double {
                grid-column: 1 / span 2;
            }
        }

        // &.left,
        // &.right {
        //     grid-template-rows: repeat(3, 1fr);
        //     grid-auto-flow: column;
        // }

        // &.left {
        //     bottom: 0;
        //     right: calc(100% + var(--anchor-margin));
        // }

        // &.right {
        // top: 0;
        // left: calc(100% + var(--anchor-margin));

        // [data-section] {
        //     justify-content: space-between;
        // }
        // }

        &.bottom {
            // right: 0;
            // top: calc(100% + var(--anchor-margin));
            grid-template-columns: repeat(5, 1fr);
            column-gap: 0.4em;
            // padding: 0.4em;

            hr {
                grid-column: 1 / -1;
                margin-block: var(--hr-margin);
            }

            [data-section] {
                grid-template-columns: auto;
            }

            .info {
                cursor: help;
            }
        }

        // @container anchor (min-height: 5.2em) {
        //     &.right,
        //     &.left {
        //         bottom: auto;
        //         top: 50%;
        //         transform: translateY(-50%);
        //     }
        // }

        // @container anchor (min-height: 10em) {
        //     &.right,
        //     &.left {
        //         grid-template-rows: none;
        //         grid-auto-flow: row;
        //     }
        // }

        // @container anchor (min-width: 12.4em) {
        //     &.top {
        //         left: 50%;
        //         transform: translateX(-50%);
        //     }
        // }

        // @container anchor (min-width: 7.4em) {
        //     &.top:has(.double) {
        //         left: 50%;
        //         transform: translateX(-50%);
        //     }
        // }

        // &.left + .panel.bottom {
        //     right: auto;
        //     left: 50%;
        //     transform: translateX(-50%);
        // }

        // @container anchor (min-height: 5em) {
        //     &.bottom,
        //     &.top {
        //         right: auto;
        //         left: 50%;
        //         transform: translateX(-50%);
        //     }
        // }
    }
}

#pf2e-hud-token-main.exploded {
    .panel {
        --outer-padding-right: 0.4rem;

        position: absolute;
        background: var(--outer-background);
        box-shadow: var(--outer-box-shadow);
        border-radius: var(--outer-border-radius);
        padding: 0.2rem var(--outer-padding-right) 0.2rem 0.3rem;

        &.left,
        &.right {
            grid-template-rows: repeat(3, 1fr);
            grid-auto-flow: column;
        }

        &.top {
            left: 0;
            bottom: calc(100% + var(--anchor-margin));
            padding-right: calc(var(--outer-padding-right) - 0.2rem);
        }

        &.left {
            bottom: 0;
            right: calc(100% + var(--anchor-margin));
        }

        &.right {
            top: 0;
            left: calc(100% + var(--anchor-margin));

            [data-section] {
                justify-content: space-between;
            }
        }

        &.bottom {
            right: 0;
            top: calc(100% + var(--anchor-margin));
            padding: 0.4em;
        }

        @container anchor (min-height: 5.2em) {
            &.right,
            &.left {
                bottom: auto;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        @container anchor (min-height: 10em) {
            &.right,
            &.left {
                grid-template-rows: none;
                grid-auto-flow: row;
            }
        }

        @container anchor (min-width: 12.4em) {
            &.top {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        @container anchor (min-width: 7.4em) {
            &.top:has(.double) {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &.left + .panel.bottom {
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }

        @container anchor (min-height: 5em) {
            &.bottom,
            &.top {
                right: auto;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
}

#pf2e-hud-token-main:not(.exploded) {
    .joined {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background: var(--outer-background);
        box-shadow: var(--outer-box-shadow);
        border-radius: var(--outer-border-radius);
        display: flex;
        flex-direction: column;
        padding: 0.1rem 0.4rem 0.4rem;

        &.left {
            left: auto;
            right: calc(100% + var(--anchor-margin));
        }

        &:not(.left) {
            right: auto;
            left: calc(100% + var(--anchor-margin));
        }

        .panel {
            --panel-spacer-gap: calc(var(--panel-margin-block) + var(--hr-margin));

            &.left,
            &.right {
                grid-template-columns: repeat(3, 1fr);
            }

            &.bottom {
                [data-section] {
                    justify-items: center;
                }
            }

            &:not(:last-child) {
                border-bottom: 1px solid var(--hr-color);
                margin-bottom: var(--panel-spacer-gap);
                padding-bottom: var(--panel-spacer-gap);
            }
        }
    }
}

#tooltip {
    .pf2e-hud-list {
        display: grid;
        grid-template-columns: 1.4em 2em;
        align-items: center;
        row-gap: 0.3em;
        font-size: var(--font-size);

        span {
            text-align: end;
        }
    }
}
