$panel-gap: 5px;

[id^="pf2e-hud"] {
    --outer-border-radius: 4px;
    --input-width: 2.4em;
    --input-width-small: 1.8em;
    --input-equivalent-width: 2.2em;
    --input-background: rgb(255 255 255 / 16%);
    --icon-width: 1.4em;
    --color: var(--color-text-light-highlight);
    --color-disabled: var(--color-text-dark-5);
    --inline-gap: 0.2em;
    --hr-color: #ffffff4a;
    --hr-margin: 0.2em;
    --section-gap: 0.1em 0.4em;
    --panel-gap: #{$panel-gap};
    --panel-padding-block: 0.2em;
    --panel-padding-inline: 0.3em;
    --interface-margin: var(--panel-gap);

    &.app,
    .app {
        box-shadow: 0 0 10px var(--color-shadow-dark);
        border: 1px solid var(--color-border-dark);
        pointer-events: all;
        margin: 0;
        padding: var(--panel-padding-block) var(--panel-padding-inline);
    }

    input,
    select {
        color: var(--color);
    }

    input[type="number"] {
        text-align: center;
        border: none;
        padding: 0;
        height: 1.1em;
        width: var(--input-width);

        &:not(:disabled) {
            background-color: var(--input-background);
        }

        &:disabled {
            background: transparent;
        }

        &.small {
            width: var(--input-width-small);
        }
    }

    a {
        &.disabled {
            pointer-events: none;
        }
    }

    i {
        width: var(--icon-width);
        text-align: center;
    }

    hr {
        margin: 0;
        border-bottom: 0;
        border-color: var(--hr-color);
    }

    .panel {
        pointer-events: all;
        line-height: 1.4;
        display: grid;
        gap: var(--section-gap);
    }

    [data-section] {
        display: grid;
        grid-template-columns: auto auto;
        align-items: center;
        gap: var(--inline-gap);

        span + span {
            min-width: 1.5em;
            text-align: center;
        }

        &[data-section="adjustment"],
        &[data-statistic] {
            justify-content: space-between;
        }

        .numbers {
            display: inline-grid;
            grid-template-columns: var(--input-width) auto var(--input-equivalent-width);
            align-items: center;
            justify-items: center;

            .separator {
                margin-left: 0.2em;
            }
        }

        &.slider,
        .slider {
            justify-self: center;
            display: flex;
            align-items: center;
            gap: 0.1em;

            i.carret {
                width: unset;
                font-size: 0.6em;
                margin-top: 1px;

                &.disabled {
                    color: var(--color-disabled);
                }
            }

            &.disabled {
                i.carret {
                    color: var(--color-disabled);
                }
            }
        }

        &.info {
            cursor: help;
        }
    }
}

#interface:has([id^="pf2e-hud"]) {
    --panel-gap: #{$panel-gap};
}

#pf2e-hud-persistent + div {
    #hotbar {
        margin-bottom: $panel-gap;
    }
}

#tooltip {
    .pf2e-hud-list {
        display: grid;
        grid-template-columns: 1.4em 2em;
        align-items: center;
        row-gap: 0.3em;
        font-size: var(--font-size);

        span {
            text-align: end;
        }
    }
}

@import "./persistent";
@import "./token";
@import "./tooltip";
@import "./tracker";
