#pf2e-hud-sidebar[data-type="extras"] {
    --hr-spacing: 0.5em 0;
    --hr-border: 1px solid #ffffff3b;

    hr {
        background: none;
        margin: var(--hr-spacing);
        border: 0;
        border-top: var(--hr-border);
    }

    .row {
        max-width: var(--max-column-width);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1em;

        select {
            width: max-content;
        }

        > :first-child {
            padding-block: 0.2em;
        }

        & + .row {
            margin-top: var(--item-spacing);
        }

        &.dailies {
            > span {
                color: var(--color-disabled);
            }
        }

        &.resource {
            .numbers {
                display: grid;
                grid-template-columns: 1fr auto 0.8fr;
                align-items: center;
                justify-items: center;

                span + input {
                    background: none;
                }
            }
        }
    }

    .no-macro {
        padding-block: 0.3em;
        text-align: center;
        color: var(--color-darker);
        border: 1px dashed var(--color-darker);
    }

    .item {
        .image {
            cursor: default;

            &:hover {
                img {
                    opacity: 1;
                }
            }
        }
    }
}
